/* Text font styles*/
@import url("https://fonts.googleapis.com/css2?family=Emilys+Candy&family=Poppins:wght@200;300;400;500;600;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Indie+Flower&display=swap");

:root {
  --bg-image: url("/images/background-images/light.svg");
  --bg-black-900: #f2f2fd;
  --bg-white: #f9f1f0;
  --bg-black-100: #fdf9ff;
  --bg-black-50: #e8dfec;
  /* --text-black-900: #302e4d; */
  --text-black-900: #413f3f;
  /* --text-black-700: #504e70; */
  --text-black-700: #6f6b6c;
  --background-color: #fcfcf5;
}

body.dark {
  /*Color is #2F4858*/
  --bg-image: url("/images/background-images/dark1.jpg");
  --bg-black-900: #151515;
  --bg-white: #151b25;
  --bg-black-100: #222222;
  --bg-black-50: #393939;
  --text-black-900: #ffffff;
  --text-black-700: #f9f9fa;
  --background-color: #3f3e4b;
}

body {
  background-image: var(--bg-image);
  mix-blend-mode: normal;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  line-height: 1.5;
  font-size: 16px;
  font-family: "Poppins", sans-serif;
  background-color: #f8f9fa;
}

* {
  margin: 0;
  padding: 0;
  outline: none;
  text-decoration: none;
  box-sizing: border-box;
}

::before,
::after {
  box-sizing: border-box;
}

ul {
  list-style: none;
}

.main-container {
  display: flex;
  flex-direction: column;
}

.section {
  /* background: var(--bg-black-900); */
  /* background-image: var(--bg-image); */
  /*Color for image is #fedcdb*/
  background-size: cover;
  min-height: 100vh;
  display: block;
  padding: 0 30px;
  opacity: 1;
  /* position: fixed; */
  left: 270px;
  top: 0;
  right: 0;
  bottom: 0;
  z-index: 0;
  overflow-y: auto;
  overflow-x: hidden;
  /* Transitions the side bar after pushing*/
  /* transition: all 0.3 ease; */
}

.section.back-section {
  z-index: 1;
}

.section.active {
  z-index: 2;
  opacity: 1;
  animation: slideSection 1s ease;
}

/* Sliding effect*/
@keyframes slideSection {
  0% {
    transform: translateX(100%);
  }
  100% {
    transform: translateX(0%);
  }
}

.hidden {
  display: none !important;
}
/* 
.main-content {
  padding-left: 270px;
} */

.padd-15 {
  padding-left: 15px;
  padding-right: 15px;
}

.container {
  max-width: 1100px;
  width: 100%;
  margin: auto;
}

.section .container {
  padding-top: 60px;
  padding-bottom: 70px;
}

.section-title {
  flex: 0 0 100%;
  max-width: 100%;
  margin-bottom: 60px;
}

.section-title h2 {
  font-size: 40px;
  color: var(--text-black-900);
  font-weight: 700;
  position: relative;
}

.section-title h2::before {
  content: "";
  height: 4px;
  width: 50px;
  background-color: var(--skin-color);
  position: absolute;
  top: 100%;
  left: 0;
}

.section-title h2::after {
  content: "";
  height: 4px;
  width: 25px;
  background-color: var(--skin-color);
  position: absolute;
  top: 100%;
  left: 0;
  margin-top: 8px;
}

.row {
  display: flex;
  flex-wrap: wrap;
  margin-left: -15px;
  margin-right: -15px;
  position: relative;
}

.btn {
  font-size: 16px;
  font-weight: 500;
  padding: 12px 35px;
  color: white;
  display: inline-block;
  white-space: nowrap;
  border: none;
  border-radius: 40px;
  background: var(--skin-color);
  transition: all 0.3 ease;
}

.btn:hover {
  transform: scale(1.05);
}

/* ==== Header ==== */
header {
  position: fixed;
  width: 100%;
  top: 0;
  right: 0;
  z-index: 1000;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background: transparent;
  padding: 30px 18%;
  transition: 0.3s;
  box-shadow: 0px 0px 10px rgb(0 0 0 / 10%);
}
header .logo {
  font-size: 30px;
  text-transform: capitalize;
}

header .logo a {
  color: var(--text-black-900);
  font-weight: 700;
  padding: 15px 20px;
  font-size: 30px;
  letter-spacing: 5px;
  position: relative;
}

header .logo a span {
  font-family: "Emilys Candy", cursive;
  font-size: 40px;
}

header .logo a::before {
  content: "";
  position: absolute;
  width: 20px;
  height: 20px;
  border-bottom: 5px solid var(--skin-color);
  border-left: 5px solid var(--skin-color);
  bottom: 0;
  left: 0;
}

header .logo a::after {
  content: "";
  position: absolute;
  width: 20px;
  height: 20px;
  border-top: 5px solid var(--skin-color);
  border-right: 5px solid var(--skin-color);
  top: 0;
  right: 0;
}

header .bx .bx-menu {
  right: 70px;
}

header.sticky {
  background-color: var(--background-color);
  padding: 13px 18%;
  box-shadow: 0px 0px 10px rgb(0 0 0 / 10%);
}

.nav-list {
  display: flex;
}

.nav-list li {
  position: relative;
}

.nav-list a {
  font-size: 16px;
  font-weight: 600;
  color: var(--text-black-900);
  padding: 10px 27px;
}

.nav-list li a.active {
  color: var(--skin-color);
}

.nav-list a::after {
  content: "";
  position: absolute;
  width: 0;
  height: 2px;
  background: var(--bg-black-50);
  bottom: -3px;
  left: 0;
  transition: ease 0.4s;
}

.nav-list a:hover::after {
  width: 100%;
}

/* === Home === */
.home {
  min-height: 100vh;
  display: flex;
  color: var(--text-black-900);
}

.home .home-info {
  flex: 0 0 60%;
  max-width: 60%;
}

h3.hello {
  top: -30px;
  font-size: 28px;
  margin: 15px 0;
}

h3.hello span {
  font-family: "Emilys Candy", cursive;
  font-size: 30px;
  font-weight: 700;
  color: var(--skin-color);
}

h3.my-profession {
  font-size: 30px;
  margin: 15px 0;
}

.typing {
  color: var(--skin-color);
}

.home-info p {
  margin-bottom: 70px;
  font-size: 20px;
  color: var(--text-black-900);
  font-weight: 700;
}

.home .home-img {
  flex: 0 0 40%;
  max-width: 40%;
  text-align: center;
  position: relative;
}

.home-img:after {
  display: none;
  content: "";
  position: absolute;
  height: 80px;
  width: 80px;
  border-bottom: 10px solid var(--skin-color);
  border-right: 10px solid var(--skin-color);
  right: 20px;
  bottom: -40px;
}

.home-img:before {
  display: none;
  content: "";
  position: absolute;
  height: 80px;
  width: 80px;
  border-top: 10px solid var(--skin-color);
  border-left: 10px solid var(--skin-color);
  left: -20px;
  top: -40px;
}

.home .home-img img {
  display: none;
  margin: auto;
  border-radius: 5px;
  height: 400px;
}

.shadow-dark {
  box-shadow: 0 0 20px rgba(48, 46, 77, 0.15);
}

/* ==== About Secion ==== */
.about .about-content {
  flex: 0 0 100%;
  max-width: 100%;
}

.about .about-content .about-text {
  flex: 0 0 100%;
  max-width: 100%;
}

.about .about-content .about-text h3 {
  font-size: 24px;
  margin-bottom: 15px;
  font-weight: 700;
  color: var(--text-black-900);
}

.about .about-content .about-text h3 span {
  color: var(--skin-color);
}

.about .about-content .about-text p {
  font-size: 16px;
  line-height: 25px;
  color: var(--text-black-900);
}

.about .about-content .personal-info {
  flex: 0 0 60%;
  max-width: 60%;
  margin-top: 40px;
}

.about .about-content .personal-info .info-item {
  flex: 0 0 50%;
  max-width: 50%;
}

.about .about-content .personal-info .info-item p {
  overflow-wrap: break-word;
  font-weight: 600;
  padding: 10px 0;
  font-size: 16px;
  color: var(--text-black-900);
  border-bottom: 1px solid var(--background-color);
}

.about .about-content .personal-info .info-item p span {
  font-weight: 400;
  color: var(--text-black-700);
  margin-top: 40px;
  display: inline-block;
}

.about .about-content .personal-info .buttons {
  margin-top: 30px;
}

.about .about-content .personal-info .buttons .btn {
  margin-top: 10px;
}

.about .about-content .skills {
  flex: 0 0 40%;
  max-width: 40%;
  margin-top: 40px;
}

.about .about-content .skills .skill-item {
  flex: 0 0 100%;
  max-width: 100%;
}

.about .about-content .skills .skill-item h5 {
  line-height: 40px;
  font-weight: 600;
  font-size: 16px;
  color: var(--text-black-900);
  text-transform: capitalize;
}

.about .about-content .skills .skill-item .progress {
  background-color: var(--background-color);
  height: 7px;
  border-radius: 4px;
  width: 100%;
  position: relative;
}

.about .about-content .skills .skill-item {
  margin-bottom: 25px;
}

.about .about-content .skills .skill-item .progress .progress-in {
  position: absolute;
  left: 0;
  top: 0;
  height: 100%;
  border-radius: 4px;
  background-color: var(--skin-color);
}

.about .about-content .skills .skill-item .skill-percent {
  position: absolute;
  right: 0;
  color: var(--text-black-900);
  top: -40px;
  font-weight: 400;
  line-height: 40px;
}

.about .about-content .education,
.about .about-content .experience {
  flex: 0 0 50%;
  max-width: 50%;
  margin-top: 30px;
  color: var(--text-black-700);
}

.about .about-content h3 .title {
  font-size: 24px;
  margin-bottom: 30px;
  font-weight: 700;
  color: var(--text-black-900);
}

.about .about-content .timeline-box {
  flex: 0 0 100%;
  max-width: 100%;
}

.about .about-content .timeline {
  background-color: var(--background-color);
  padding: 30px 15px;
  border: 1px solid var(--bg-black-50);
  border-radius: 10px;
  width: 100%;
  position: relative;
}

.about .about-content .timeline .timeline-item {
  position: relative;
  padding-left: 37px;
  padding-bottom: 50px;
}

.about .about-content .timeline .timeline-item:last-child {
  padding-bottom: 0;
}

.about .about-content .timeline .timeline-item::before {
  content: "";
  width: 1px;
  position: absolute;
  height: 100%;
  left: 7px;
  top: 0;
  background-color: var(--skin-color);
}

.about .about-content .timeline .circle-dot {
  position: absolute;
  left: 0;
  top: 0;
  height: 15px;
  width: 15px;
  border-radius: 50%;
  background-color: var(--skin-color);
}

.about .about-content .timeline .timeline-date {
  font-weight: 400;
  font-size: 14px;
  margin-bottom: 12px;
  color: var(--text-black-700);
}

.about .about-content .timeline .timeline-date .fa::before {
  margin-right: 5px;
}

.about .about-content .timeline .timeline-title {
  font-weight: 700;
  font-size: 18px;
  margin-bottom: 15px;
  text-transform: capitalize;
  color: var(--text-black-900);
}

.about .about-content .timeline .timeline-text {
  line-height: 25px;
  font-size: 16px;
  text-align: justify;
  color: var(--text-black-700);
}

/* ==== Portfolio Secion ==== */
.portfolio .container {
  padding-bottom: 40px;
}

.portfolio .portfolio-heading {
  flex: 0 0 100%;
  max-width: 100%;
  margin-bottom: 40px;
}

.portfolio .portfolio-heading h2 {
  color: var(--text-black-900);
  font-weight: 500;
}

.portfolio .portfolio-list {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
  grid-gap: 20px;
  flex-wrap: wrap;
  margin-left: -15px;
  margin-right: -15px;
  overflow: hidden;
  position: relative;
}
/* .portfolio .portfolio-item {
  position: relative;
  flex: 0 0 33.33%;
  max-width: 33.33%;
  margin-bottom: 30px;
} */

.portfolio .portfolio-item-inner {
  border: 6px solid var(--background-color);
  /* height: 230px; */
  height: 90%;
  border-radius: 10px;
  overflow: hidden;
  cursor: pointer;
}
/* 
.portfolio .portfolio-item-inner img {
  max-width: 100%;
  width: 550px;
  height: auto;
  display: block;
} */

.portfolio .portfolio-work {
  border-radius: 10px;
  position: relative;
  overflow: hidden;
}
.portfolio .portfolio-work img {
  width: 100%;
  height: 100%;
  border-radius: 10px;
  display: block;
  transition: transform 0.5s;
}

.portfolio .portfolio-work .layer {
  width: 100%;
  height: 0;
  background: linear-gradient(rgba(0, 0, 0, 0.5) 0%, #191919);
  border-radius: 10px;
  position: absolute;
  left: 0;
  bottom: 0;
  overflow: hidden;
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  color: white;
  padding: 0 40px;
  text-align: center;
  font-size: 14px;
  transition: height 0.7s;
}
.portfolio .portfolio-work .layer h3 {
  font-weight: 50px;
  margin-bottom: 20px;
}

.portfolio .portfolio-work .layer a {
  margin-top: 20px;
  color: var(--skin-color);
  text-decoration: none;
  font-size: 18px;
  line-height: 40px;
  background: #fff;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  text-align: center;
}

.portfolio .portfolio-work:hover img {
  transform: scale(1.1);
}

.portfolio .portfolio-work:hover .layer {
  height: 100%;
}

/* ==== Contact Section ==== */
.contact-title {
  color: var(--skin-color);
  text-align: center;
  font-size: 25px;
  margin-bottom: 20px;
}

.contact-sub-title {
  color: var(--text-black-900);
  text-align: center;
  font-size: 15px;
}

.contact .contact-info-item {
  flex: 0 0 25%;
  max-width: 25%;
  text-align: center;
  margin-bottom: 60px;
}

.cont .contact-info-item .icon {
  display: inline-block;
}

.contact .contact-info-item .fa {
  font-size: 25px;
  color: var(--skin-color);
}

.contact .contact-info-item h4 {
  font-size: 18px;
  font-weight: 700;
  color: var(--text-black-900);
  text-transform: capitalize;
  margin: 15px 0 5px;
}

.contact .contact-info-item p {
  font-size: 16px;
  line-height: 25px;
  color: var(--text-black-700);
  font-weight: 400;
}

.contact .contact-form {
  flex: 0 0 100%;
  max-width: 100%;
}

.contact .contact-form .col-6 {
  flex: 0 0 50%;
  max-width: 50%;
}

.contact .contact-form .col-12 {
  flex: 0 0 100%;
  max-width: 100%;
}

.contact .contact-form .form-item {
  margin-bottom: 30px;
}

.contact .contact-form .form-item .form-control {
  width: 100%;
  height: 50px;
  border-radius: 25px;
  background: var(--background-color);
  border: 1px solid var(--bg-black-50);
  padding: 10px 25px;
  font-size: 16px;
  color: var(--text-black-700);
  transition: all 0.3s ease;
}

.contact .contact-form .form-item .form-control:focus {
  box-shadow: 0 0 20px rgba(48, 46, 77, 0.15);
}

.contact .contact-form .form-item textarea.form-control {
  height: 140px;
}

.contact .contact-form .btn {
  height: 50px;
  padding: 0 50px;
}

/* ==== MESSAGE SENT BOX ==== */
#msg,
.thankyou_message {
  color: green;
  margin-top: -20px;
  display: block;
}

/* ==== All Screen Adjustments ====*/

@media (max-width: 2000px) {
  .navi-switcher {
    display: none;
  }
}

@media (max-width: 1425px) {
  header {
    padding: 16px 3%;
    transition: 0.3s;
  }
  header.sticky {
    padding: 10px 3%;
    transition: 0.3s;
  }
}

@media (max-width: 1199px) {
  .section .container {
    padding-top: 70px;
  }
  .aside {
    left: -270px;
  }
  .aside.open {
    left: 0;
  }
  .aside .nav-toggler {
    display: flex;
    left: 30px;
  }

  .aside .nav-toggler.open {
    left: 300px;
  }

  .section {
    left: 0;
  }

  /* BELOW: Pushes the information to the side instead of covering it */
  /* .section.open {
    left: 270px;
  } */
  /* ABOVE: Pushes the information to the side instead of covering it*/
  .about .about-content .personal-info .info-item p span {
    display: block;
    margin-left: 0;
  }
}

@media (max-width: 991px) {
  .navi-switcher {
    display: block;
  }

  #menu-icon.s-icon {
    display: block !important;
  }

  .home {
    min-height: 80vh;
  }

  .nav-list {
    position: absolute;
    top: -600px;
    left: 0;
    right: 0;
    flex-direction: column;
    background-color: bisque;
    text-align: right;
    transition: all 0.4s;
  }

  .nav-list a {
    display: block;
    padding: 1.2rem;
    margin: 1.5rem;
    border-right: 2px solid black;
    color: black;
  }

  .nav-list a::after {
    background: none;
    display: none;
  }

  .nav-list a:hover {
    background: white;
  }

  .nav-list.active {
    top: 100%;
  }

  .home .contact .contact-info-item,
  .portfolio .portfolio-item {
    flex: 0 0 100%;
    max-width: 100%;
  }

  .portfolio .portfolio-item,
  .about .about-content .experience,
  .about .about-content .education,
  .home .home-info {
    flex: 0 0 100%;
    max-width: 100%;
  }

  .home .home-img {
    display: none;
  }
}

@media (max-width: 767px) {
  .contact .contact-form .col-6,
  .contact .contact-info-item,
  .about .about-content .experience,
  .about .about-content .education,
  .about .about-content .skills,
  .about .about-content .personal-info {
    flex: 0 0 100%;
    max-width: 100%;
  }
}
