/* Design Idea:

Butterfly Pattern


*/
@import url("https://fonts.googleapis.com/css2?family=Emilys+Candy&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Emilys Candy", cursive;
  scroll-behavior: smooth;
}

body {
  position: flex;
  overflow-x: hidden;
  min-height: 100vh;
  background: #ffdff0;
  background-image: url("images/mist.png");
  background-size: cover;
  background-repeat: no-repeat;
}
#header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  padding: 30px 100px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 10000;
}

#header .Logo {
  color: #000000;
  font-weight: 700;
  font-size: 2em;
  text-decoration: none;
  letter-spacing: 2px;
}

#header ul {
  display: flex;
  justify-content: center;
  align-items: center;
}

#header ul li {
  list-style: none;
  margin-left: 20px;
}

#header ul li a {
  text-decoration: none;
  padding: 6px 15px;
  color: #000000;
  border-radius: 20px;
}

#header ul li a:hover,
#header ul li a.active {
  background: #e0deef;
  color: #000000;
}
#main {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-self: center;
}

#intro {
  display: inline-block;
  margin: auto;
  margin-top: 6%;
  width: 80%;
  height: 80vh;
  background-color: white;
}

#about-me {
  display: inline-block;
  margin: auto;
  margin-top: 20%;
  width: 80%;
  height: 40vh;
  background-color: white;
}
