/* Design Idea:

Butterfly Pattern


*/
@import url("https://fonts.googleapis.com/css2?family=Emilys+Candy&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@100;200;300;400;500&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Roboto Slab", serif;
  /* font-family: "Emilys Candy", cursive; */
  scroll-behavior: smooth;
}

body {
  position: flex;
  overflow-x: hidden;
  min-height: 100vh;
  background: #ffdff0;
  background-image: url("images/mist.png");
  background-size: cover;
  background-repeat: no-repeat;
}
#header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  padding: 30px 100px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 10000;
}

#header .Logo {
  color: #000000;
  font-weight: 700;
  font-size: 2em;
  text-decoration: none;
  letter-spacing: 2px;
  font-family: "Emilys Candy", cursive;
}

#header ul {
  display: flex;
  justify-content: center;
  align-items: center;
}

#header ul li {
  list-style: none;
  margin-left: 20px;
}

#header ul li a {
  text-decoration: none;
  padding: 6px 15px;
  color: #000000;
  border-radius: 20px;
}

#header ul li a:hover,
#header ul li a.active {
  background: #e0deef;
  color: #000000;
}
#main {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-self: center;
}

#intro {
  position: relative;
  display: flex;
  margin: auto;
  margin-top: 6%;
  width: 80%;
  height: 80vh;
  border-radius: 20px;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  background-color: white;
  background-image: url(images/openimage.svg);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}

#intro > .intro-button {
  position: absolute;
  left: 47.3%;
  top: 67.6%;
  width: 5.5%;
  height: 6%;
  background: #ffdff0;
  border: solid #faa1d0;
  border-radius: 5px;
  font-size: 1em;
  white-space: normal;
  font-family: "Emilys Candy", cursive;
}

#intro > .intro-button:hover {
  background: #faa1d0;
  border-radius: 5px;
}

#about-me {
  position: relative;
  display: flex;
  margin: auto;
  margin-top: 10%;
  width: 80%;
  height: 60vh;
  border-radius: 20px;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  background-color: #ffdff0;
}

#about-me > #left-side {
  width: 50%;
  height: 100%;
  background-image: url(images/skillset.svg);
  background-size: 80%;
  background-repeat: no-repeat;
  background-position: center;
}
#about-me > #right-side {
  display: flex;
  flex-direction: column;
  padding: 2%;
  width: 50%;
  height: 100%;
  overflow: auto;
}

#about-me p {
  font-size: 90%;
}

#projects {
  position: relative;
  display: inline-grid;
  grid-template: repeat(3, 1fr) / repeat(3, 1fr);
  justify-items: center;
  margin: auto;
  margin-top: 10%;
  width: 80%;
  height: 80vh;
  border-radius: 20px;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  background-color: white;
}

footer {
  display: flex;
  height: 5vh;
  justify-content: center;
  align-items: center;
  padding-top: 1vh;
  margin-top: 10vh;
}

footer > p {
  display: block;
}
