@import url("https://fonts.googleapis.com/css2?family=Fraunces:ital,opsz,wght@0,9..144,200;0,9..144,300;0,9..144,400;0,9..144,500;0,9..144,600;1,9..144,300;1,9..144,400;1,9..144,500&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Inria+Serif:ital,wght@0,300;0,400;0,700;1,300;1,400&display=swap");

* {
  margin: 0;
  padding: 0;
  font-family: "Fraunces", serif;
}

.container {
  display: grid;
  grid-template-columns: 0.7fr 2fr;
  grid-row: 1fr;
}

.main-content {
  background-color: #edf2fb;
  min-height: 100vh;
}

.libraryTable {
  border-collapse: collapse;
  margin-right: auto;
  margin-left: auto;
  margin-bottom: auto;
  margin-top: 10%;
  font-size: 0.9em;
  min-width: 400px;
  border-radius: 5px 5px 0 0;
  overflow: hidden;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
}

.libraryTable thead tr {
  background-color: #abc4ff;
  color: black;
  text-align: left;
  font-weight: bold;
}

.libraryTable th,
.libraryTable td {
  padding: 12px 15px;
}

.libraryTable tbody tr {
  border-bottom: 1px solid #dddddd;
}

.libraryTable tbody tr:nth-of-type(even) {
  background-color: white;
}

.libraryTable tbody tr:last-of-type {
  border-bottom: 2px solid #abc4ff;
}

.libraryTable tbody tr:hover {
  color: #abc4ff;
}

tbody #deleteButton {
  /*Empty, will possibly add styling to button later*/
}

.sidebar {
  background-color: #abc4ff;
  min-height: 100vh;
  grid-row: 1 / 1;
  box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
  display: grid;
  grid-template-rows: 0.2fr 0.1fr 0.3fr 0.5fr;
  padding-left: 20px;
  padding-right: 20px;
}

.header {
  justify-self: center;
  align-self: center;
  display: flex;
  font-size: 1.2em;
  font-weight: 700;
}

.description p {
  font-family: "Inria Serif", serif;
  font-size: 1em;
  font-weight: 500;
}

.description li {
  padding-left: 30px;
  list-style-type: none;
}

.buttons-container {
  display: inline-grid;
  grid-template-columns: 1fr 1fr;
  justify-items: center;
  align-items: center;
}

.buttons-container > button {
  height: 50px;
  width: 130px;
  border-radius: 20px;
  background-color: #748ec6;
  border: none;
  color: #edf2fb;
  display: grid;
  padding: 5px;
  grid-template-columns: 0.3fr 1fr;
  justify-self: center;
  align-items: center;
}

.buttons-container button:hover {
  background-color: #3e69c4;
}

.newButtonModal {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(0);
  transition: 200ms ease-in-out;
  border: 1px solid black;
  border-radius: 10px;
  z-index: 10;
  background-color: #abc4ff;
  width: 500px;
  max-width: 80%;
  height: 400px;
  max-height: 80%;
}

.newButtonModal.active {
  transform: translate(-50%, -50%) scale(1);
}

.modalNewHeader {
  padding: 10px 15px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid black;
}

.modalNewHeader > button {
  cursor: pointer;
  width: 30px;
  height: 30px;
  border: none;
  outline: none;
  border-radius: 50%;
  background-color: #748ec6;
  font-size: 1.25rem;
  font-weight: bold;
}

.modalNewHeader .title {
  font-size: 1.25rem;
  font-weight: bold;
}

.modalNewBody {
  padding: 10px 15px;
  height: 80%;
  display: flex;
  flex-direction: column;
  align-items: space-between;
}

form div {
  padding-top: 10px;
  margin-bottom: 20px;
}

form #submit,
form #resetButton {
  all: unset;
  width: 100px;
  height: 30px;
  border: none;
  outline: none;
  border-radius: 20px;
  text-align: center;
  background-color: #748ec6;
}

#overlay {
  position: fixed;
  opacity: 0;
  transition: 200ms ease-in-out;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5);
  pointer-events: none;
}

#overlay.active {
  opacity: 1;
  pointer-events: all;
}

.footer {
  justify-self: center;
  align-self: center;
  padding-bottom: 20px;
}
